// Max size in MB for loading resource images from repo path
maxImportSizeMB = 32

// Dark mode enabled by default
defaultDarkMode = true

// Auto initialize OpenCL device on startup
autoInit = "Core"

// Pre-compile all kernels in repo path (warn failed ones)
precompileAll = true

// Default load latest kernel (by last modified date)
loadLatestKernel = true